@font-face {
    font-family: Fredoka;
    src: url(assets/fonts/Fredoka-Regular.ttf);
}

.container {
    background-color: #0a0c12;
    overflow: hidden;
    margin-top: 0px;
}

.container a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.container a:hover {
    background-color: whitesmoke;
    color: black;
}

.container a.active {
    background-color: #4287f6;
    color: white;
}

a {
    text-decoration: none;
    color: #4287f6;
}

a:visited {
    color: #4287f6;
}

:root {
    font-family: Fredoka;
    color: white;
    background-color: #11141f;
    font-size: 20px;
    text-align: center;
}

.avatar {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 10px;
}