:root {
    font-family: 'Fredoka', sans-serif;
    background-color: #11111b;
    color: white;
}

#center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

#header {
    font-size: 2vw;
}

#description__header {
    position: relative;
    z-index: 100;
    font-size: 2vw;
}

#about__header {
    position: relative;
    z-index: 100;
    font-size: 2vw;
}

#images {
    margin-left: 20px;
    margin-right: 20px;
}

#links {
    text-align: center;
    font-size: 2vw;
}

a {
    border: none;
    text-decoration: none;
}

.highlighted__text {
    color: #8caaee;
}